<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Tracker Daten{% endblock %}
{% block menu %}
<li class="is-active"><a href="/main/showEdit/{{device_eui}}">Tracker Konfigdaten</a></li>
{% endblock %}

{% block content %}

<body>
<form action="/main/showEdit/{{device_eui}}" method="post">
    {% csrf_token %}
    {% if form.errors %}
            <div class="callout alert" >
            <ul style="list-style-type: none">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            </div>
            {% endif %}
    <label>Name:</label>
    {{ form.device_name }}
    <label>Identifikationsnummer: </label>
    {{ form.device_eui }}

    <input class="button hollow primary" type="submit" value="Änderungen Speichern">
    {% if device_eui %}
        <a href="/main/remove/{{device_eui}}" class="button alert" onclick="return confirm('Sind Sie sich sicher diesen Tracker löschen zu wollen?')">Löschen</a>
    {% endif %}
</form>


</body>

{% endblock %}

